<form  method="post">
  <p><button id="ua" name="ua" value="ua" class="btn btn-primary" type="submit">УкрЛіт</button></p>
</form>
<form  method="post">
  <p><button id="ua" name="ua" value="classic" class="btn btn-primary" type="submit">classic</button></p>
</form>

<form  method="post">
  <p><button id="ua" name="ua" value="new" class="btn btn-primary" type="submit">21th top</button></p>
</form>
<form  method="post">
  <p><button id="ua" name="ua" value="biographi" class="btn btn-primary" type="submit">biographi</button></p>
</form>
<form  method="post">
  <p><button id="ua" name="ua" value="my_list" class="btn btn-primary" type="submit">мій список</button></p>
</form>